# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/
yarn.lock
package-lock.json

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
.gradle/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.keystore

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
# Disable temporarily
.env*
.env 
secrets/

# typescript
*.tsbuildinfo
node_modules/
.temp/

# Native folders (Do not ignore top level)
# /ios
# /android

# iOS
*.pbxproj
*.xcworkspace
*.podspec
/ios/build/
/ios/Pods/
/ios/GoogleService-Info.plist
/ios/.xcode.env.local

# Android
/android/build/
/android/app/build/
/android/.gradle/
/android/local.properties
/android/*.iml
/android/.idea
/android/.navigation
/android/app/google-services.json
/android/app/debug.keystore

# vscode
.vscode/

# Docs
/docs_need_to_work
/design_references
/scripts
/docs
CONTINUITY.md