# Credentials
credentials/*
!credentials/.gitkeep
!credentials/README.md
.env
.env.*
!.env.example
secrets/

# Dependencies
node_modules/
yarn.lock
package-lock.json

# Expo build artifacts
.expo/
dist/
web-build/
expo-env.d.ts
/ios
/android

# Native build artifacts
.kotlin/
.gradle/
*.orig.*

# Signing keys
*.jks
*.p8
*.p12
*.key
*.pem
*.mobileprovision
*.keystore

# Metro & TypeScript
.metro-health-check*
*.tsbuildinfo
.temp/

# Debug logs
npm-debug.*
yarn-debug.*
yarn-error.*

# MacOS
.DS_Store
.vscode/

# Proj docs
/docs_need_to_work
/design_references
